body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  color: #640009;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
  padding: 0;
}

ul li {
  display: inline-block;
  color: #640009;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  cursor: pointer;
}

a {
  color: #640009;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

.row {
  display: flex;
}

.column {
  width: 50%;
  padding: 10px;
}

.contact {
  text-align: center;
}
